<footer class="bg-light border-top pt-5 mt-5 pb-3 position-relative">
  <section
    class="position-absolute start-50 translate-middle-x w-75"
    style="top: -5rem"
  >
    <div class="container">
      <div class="bg-black rounded-4 px-3 py-4">
        <div class="row align-items-center g-1">
          <div class="col-12 col-md-6">
            <h4
              class="text-white fw-black text-uppercase mb-1"
              style="letter-spacing: -1px"
            >
              Stay Upto Date About <br />
              Our Latest Offers
            </h4>
          </div>

          <div class="col-12 col-md-6">
            <div class="d-flex flex-column gap-3">
              <div class="input-group mb-1">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input
                  type="text"
                  class="form-control shadow-none"
                  placeholder="Email"
                  aria-label="Username"
                  aria-describedby="basic-addon1"
                />
              </div>

              <button
                class="btn btn-white bg-white text-black fw-semibold rounded-2 w-100"
              >
                Subscribe to Newsletter
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container pt-5 mt-5">
    <!-- Top Row -->
    <div class="row g-4 my-4">
      <div class="col-12 col-md-6 col-lg-3">
        <h5 class="fw-black text-uppercase mb-3" style="letter-spacing: -1px">
          <img src="/images/logo.png" class="navbar-brand" alt="" />
        </h5>
        <p class="text-muted small">
          We have clothes that suits your style and which you're proud to wear.
          From women to men.
        </p>

        <div class="d-flex gap-2 mt-3">
          <a
            href="#"
            class="btn btn-outline-dark btn-sm rounded-circle p-1 lh-1"
          >
            <i class="bi bi-twitter-x"></i>
          </a>
          <a
            href="#"
            class="btn btn-outline-dark btn-sm rounded-circle p-1 lh-1"
          >
            <i class="bi bi-facebook"></i>
          </a>
          <a
            href="#"
            class="btn btn-outline-dark btn-sm rounded-circle p-1 lh-1"
          >
            <i class="bi bi-instagram"></i>
          </a>
          <a
            href="#"
            class="btn btn-outline-dark btn-sm rounded-circle p-1 lh-1"
          >
            <i class="bi bi-github"></i>
          </a>
        </div>
      </div>

      <div class="col-6 col-md-3 col-lg-2 offset-lg-1">
        <h6 class="fw-bold text-uppercase mb-3 tracking-wide">Company</h6>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#" class="text-muted text-decoration-none small">About</a>
          </li>
          <li class="mb-2">
            <a href="#" class="text-muted text-decoration-none small"
              >Features</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-muted text-decoration-none small">Works</a>
          </li>
          <li class="mb-2">
            <a href="#" class="text-muted text-decoration-none small">Career</a>
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-3 col-lg-2">
        <h6 class="fw-bold text-uppercase mb-3">Help</h6>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#" class="text-muted text-decoration-none small"
              >Customer Support</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-muted text-decoration-none small"
              >Delivery Details</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-muted text-decoration-none small"
              >Terms & Conditions</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-muted text-decoration-none small"
              >Privacy Policy</a
            >
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-3 col-lg-2">
        <h6 class="fw-bold text-uppercase mb-3">FAQ</h6>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#" class="text-muted text-decoration-none small"
              >Account</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-muted text-decoration-none small"
              >Manage Deliveries</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-muted text-decoration-none small">Orders</a>
          </li>
          <li class="mb-2">
            <a href="#" class="text-muted text-decoration-none small"
              >Payments</a
            >
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-3 col-lg-2">
        <h6 class="fw-bold text-uppercase mb-3">Resources</h6>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#" class="text-muted text-decoration-none small"
              >Free eBooks</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-muted text-decoration-none small"
              >Development Tutorial</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-muted text-decoration-none small"
              >How to - Blog</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-muted text-decoration-none small"
              >Youtube Playlist</a
            >
          </li>
        </ul>
      </div>
    </div>

    <hr class="border-secondary" />

    <div class="row align-items-center g-3">
      <div class="col-12 col-md-6">
        <p class="text-muted small mb-0">Shop.co ©2026. All Rights Reserved</p>
      </div>

      <div class="col-12 col-md-6">
        <div class="d-flex gap-2 justify-content-md-end flex-wrap">
          <img src="/images/Badge (1).png" height="28" alt="Visa" />
          <img src="/images/Badge.png" height="28" alt="Mastercard" />
          <img src="images/Badge (2).png" height="28" alt="PayPal" />
          <img src="images/Badge (3).png" height="28" alt="Apple Pay" />
          <img src="images/Badge (4).png" height="28" alt="Google Pay" />
        </div>
      </div>
    </div>
  </div>
</footer>
